:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  margin: 0;
  display: flex;
  place-items: center;
  min-height: 100vh;
}
a:visited {
  color: initial;
}
#root {
  max-width: 1280px;
  height: 100%;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
.calculator-grid {
  display: grid;
  margin-top: 2rem;
  grid-template-columns: repeat(4, 6rem);
  grid-template-rows: minmax(7rem, auto) repeat(5, 6rem);
}
.calculator-grid > button {
  outline: none;
  cursor: pointer;
  font-size: 2rem;
  border: 1px solid black;
}
.calculator-grid > button:hover,
.calculator-grid > button:focus {
  background-color: rgba(255, 255, 255, 0.6);
}

.calculator-grid > button:active {
  transform: scale(0.9);
}

.span-two {
  grid-column: span 2;
}
.output {
  grid-column: 1/-1;
  background-color: rgba(255, 255, 255, 0.75);
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-around;
  padding: 0.75rem;
  word-wrap: break-word;
  word-break: break-all;
}
.output .previous-operand {
  color: rgba(0, 0, 0, 0.75);
  font-size: 1.5rem;
}
.output .current-operand {
  color: black;
  font-size: 2.5rem;
}
@keyframes buttonPop {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.75);
  }
  100% {
    transform: scale(1);
  }
}
footer {
  position: absolute;
  top: 1rem;
  left: 0;
  width: 100%;
  font-size: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.socials {
  display: flex;
  gap: 0.75rem;
}
.socials > a {
  cursor: pointer;
  width: 2.25rem;
  height: 2.5rem;
}
.socials > a > svg {
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 768px) {
  #root {
    padding: 0;
  }
  .calculator-grid {
    grid-template-columns: repeat(4, 5rem);
    grid-template-rows: minmax(6rem, auto) repeat(5, 5rem);
  }
}
